.page3 {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-page3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #000;
    border-radius: 2px;
    border-width: 15px;
    border-style: hidden;
    height: 100vh;
    width: 70%;
}

.content-page3 #page3-title {
    color: #CCC;
    font-size: 18pt;
    font-weight: bold;
}